<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jurenzhao.mapper.ClassesMapper">
    <resultMap id="classesMapper" type="com.jurenzhao.pojo.Classes">
        <id property="id" column="cid"></id>
        <result property="className" column="className"></result>
        <!--property：列名 column:字段名（学生表中班级的主键） ofType 一对多 多涉及的对象 必须有 否则报空指针-->
        <collection property="studentList" column="classId" ofType="com.jurenzhao.pojo.Student">
            <id property="id" column="sid"></id>
            <result property="name" column="name"></result>
            <result property="age" column="age"></result>
            <result property="sex" column="sex"></result>
        </collection>
    </resultMap>

    <select id="findAllClasses" resultMap="classesMapper">
        select * from classes c left join student s on c.cid  = s.classId
    </select>

    <resultMap id="classesTeacherMap" type="com.jurenzhao.pojo.Classes">
        <id property="id" column="cid"></id>
        <result property="className" column="className"></result>
        <!--班级学生一对多-->
        <collection property="studentList" column="classId" ofType="com.jurenzhao.pojo.Student">
            <id property="id" column="sid"></id>
            <result property="name" column="name"></result>
            <result property="age" column="age"></result>
            <result property="sex" column="sex"></result>
        </collection>
        <collection property="teacherList" column="cid" ofType="com.jurenzhao.pojo.Teacher">
            <id property="id" column="tid"></id>
            <result property="name" column="tname"></result>
        </collection>
    </resultMap>

    <select id="findAllClasses2" resultMap="classesTeacherMap">
        select * from classes c
                left join classes_teacher ct on c.cid = ct.cid
                left join teacher t on t.tid = ct.tid
                left join student s on s.classId = c.cid

    </select>

    <resultMap id="moreCountFindClassesMapper" type="com.jurenzhao.pojo.Classes">
        <id property="id" column="cid"></id>
        <result property="className" column="className"></result>
        <collection property="studentList" column="cid" ofType="com.jurenzhao.pojo.Student"
                    select="com.jurenzhao.mapper.StudentMapper.findStudentByClassId">
        </collection>
    </resultMap>

    <select id="findOnlyClasses" resultMap="moreCountFindClassesMapper">
        select * from classes;
    </select>

    <select id="findClassesById" resultType="com.jurenzhao.pojo.Classes" parameterType="int">
        select * from classes where cid = ${id}
    </select>



</mapper>