<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jurenzhao.mapper.TeacherMapper">
    <!--resultMap作用：自定义映射关系-->
    <!--id自定义映射名 type 自定义映射的对象类型-->
    <resultMap id="teacherMap" type="com.jurenzhao.pojo.Teacher">
        <!--id定义主键列 property：POJO属性名-->
        <id property="id" column="tid"></id>
        <!--result定义普通列 property：POJO属性名 column:数据库列名-->
        <result property="name" column="tname"></result>
    </resultMap>
    <resultMap id="teacherClassesMap" type="com.jurenzhao.pojo.Teacher">
        <!--id定义主键列 property：POJO属性名-->
        <id property="id" column="tid"></id>
        <!--result定义普通列 property：POJO属性名 column:数据库列名-->
        <result property="name" column="tname"></result>
        <collection property="classesList" column="tid" ofType="com.jurenzhao.pojo.Classes">
            <id property="id" column="cid"></id>
            <result property="className" column="className"></result>
        </collection>
    </resultMap>
    <select id="findAllTeacher" resultMap="teacherMap">
       select * from teacher
    </select>
    <!--定义sql片段-->
    <sql id="selectAllFieldTeacher">
        select tid as id,tname as name
    </sql>
    <!--include 引入sql片段-->
    <select id="findAllTeacher2" resultType="com.jurenzhao.pojo.Teacher">
        <include refid="selectAllFieldTeacher"></include>
        from teacher
    </select>
    <!---->
    <select id="findAllTeacher3" resultMap="teacherClassesMap">
        select * from teacher t left join classes_teacher ct on ct.tid  = t.tid left join classes c on c.cid  = ct.cid ;
    </select>
</mapper>