<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jurenzhao.mapper.UserMapper">
    <select id="findAll" resultType="com.jurenzhao.pojo.User">
        select * from user
    </select>

    <insert id="addUser" parameterType="com.jurenzhao.pojo.User">
        INSERT INTO `user` (username, sex, address)
        VALUES(#{username}, #{sex}, #{address});
    </insert>

    <update id="updateUser" parameterType="com.jurenzhao.pojo.User">
        UPDATE user SET username=#{username}, sex=#{sex}, address=#{address}
        WHERE id=#{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <select id="findUserById" parameterType="int" resultType="com.jurenzhao.pojo.User">
        select * from user where id = #{id}
    </select>

    <!--入参拼接%%-->
    <!--<select id="findUserByName" parameterType="String" resultType="com.jurenzhao.pojo.User">
        select * from user where username like #{username}
    </select>-->
    <!--入参只传值-->
    <select id="findUserByName" parameterType="String" resultType="com.jurenzhao.pojo.User">
        select * from user where username like '%${value}%'
    </select>

    <select id="findUserByPage" resultType="com.jurenzhao.pojo.User">
        select * from user limit #{startPage},#{pageSize}
    </select>

    <select id="findUserByMap" resultType="com.jurenzhao.pojo.User" parameterType="map">
        select * from user limit #{startPage},#{pageSize}
    </select>

    <select id="findUserCount" resultType="int">
        select count(1) from user
    </select>

    <insert id="addUserReturnPrimaryKey" parameterType="com.jurenzhao.pojo.User">
        /*keyProperty:主键属性名 keyColumn：主键列名 resultType：主键类型 order:执行周期*/
        <selectKey keyColumn="id" order="AFTER" keyProperty="id" resultType="int">
            SELECT LAST_INSERT_ID();
        </selectKey>
        INSERT INTO `user` (username, sex, address)
        VALUES(#{username}, #{sex}, #{address});
    </insert>


    <select id="findListUseById" resultType="com.jurenzhao.pojo.User" parameterType="int">
        select * from user where id &gt; #{id}
    </select>



</mapper>