<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jurenzhao.mapper.UserMapper">
    <select id="findAll" resultType="com.jurenzhao.pojo.User">
        select * from user
    </select>

    <insert id="addUser" parameterType="com.jurenzhao.pojo.User">
        INSERT INTO `user` (username, sex, address)
        VALUES(#{username}, #{sex}, #{address});
    </insert>
    <!--该写法存在以下问题：如果修改的属性是空值，会同步将字段更新为空-->
<!--    <update id="updateUser" parameterType="com.jurenzhao.pojo.User">-->
<!--        UPDATE user SET username=#{username}, sex=#{sex}, address=#{address}-->
<!--        WHERE id=#{id};-->
<!--    </update>-->
    <!--上面sql优化：<set>替代set <if>标签判断属性值是否为空，不为空再拼接sql-->
    <update id="updateUser" parameterType="com.jurenzhao.pojo.User">
        update user
        <set>
            <if test="username != null and username.length() !=0 ">
                username=#{username},
            </if>
            <if test="sex != null and sex.length() != 0">
                sex=#{sex},
            </if>
            <if test="address != null and address.length() != 0">
                address=#{address}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>





    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <select id="findUserById" parameterType="int" resultType="com.jurenzhao.pojo.User">
        select * from user where id = #{id}
    </select>

    <!--入参拼接%%-->
    <!--<select id="findUserByName" parameterType="String" resultType="com.jurenzhao.pojo.User">
        select * from user where username like #{username}
    </select>-->
    <!--入参只传值-->
    <select id="findUserByName" parameterType="String" resultType="com.jurenzhao.pojo.User">
        select * from user where username like '%${value}%'
    </select>

    <select id="findUserByPage" resultType="com.jurenzhao.pojo.User">
        select * from user limit #{startPage},#{pageSize}
    </select>

    <select id="findUserByMap" resultType="com.jurenzhao.pojo.User" parameterType="map">
        select * from user limit #{startPage},#{pageSize}
    </select>

    <select id="findUserCount" resultType="int">
        select count(1) from user
    </select>

    <insert id="addUserReturnPrimaryKey" parameterType="com.jurenzhao.pojo.User">
        /*keyProperty:主键属性名 keyColumn：主键列名 resultType：主键类型 order:执行周期*/
        <selectKey keyColumn="id" order="AFTER" keyProperty="id" resultType="int">
            SELECT LAST_INSERT_ID();
        </selectKey>
        INSERT INTO `user` (username, sex, address)
        VALUES(#{username}, #{sex}, #{address});
    </insert>


    <select id="findListUseById" resultType="com.jurenzhao.pojo.User" parameterType="int">
        select * from user where id &gt; #{id}
    </select>

    <!--if语句中不应该使用&&或者|| 只能使用and或者or-->
<!--    <select id="findUserByCondition" resultType="com.jurenzhao.pojo.User" parameterType="com.jurenzhao.pojo.User">-->
<!--        select * from user where 1=1-->
<!--        <if test="username != null and username.length() != 0">-->
<!--            and username like #{username}-->
<!--        </if>-->
<!--        <if test="sex != null and sex.length() != 0">-->
<!--            and sex = #{sex}-->
<!--        </if>-->
<!--        <if test="address != null and address.length() != 0">-->
<!--            and address like #{address}-->
<!--        </if>-->
<!--    </select>-->
    <!--<where>替代where 1=1 -->
    <select id="findUserByCondition" resultType="com.jurenzhao.pojo.User" parameterType="com.jurenzhao.pojo.User">
        select * from user
        <where>
            <if test="username != null and username.length() != 0">
                and username like #{username}
            </if>
            <if test="sex != null and sex.length() != 0">
                and sex = #{sex}
            </if>
            <if test="address != null and address.length() != 0">
                and address like #{address}
            </if>
        </where>
    </select>
    <!--需求：用户名<5时使用模糊查询，用户名>=5并且<10时使用精确查询，否则查询id为1的用户-->
    <!--choose when otherwise 类似于switch case deflault-->
    <select id="findUserByChooseWhenCondition" resultType="com.jurenzhao.pojo.User" parameterType="com.jurenzhao.pojo.User">
        select * from user
        <where>
            <choose>
                <when test="username != null and username.length() &lt;5">
                    and username like '%${username}%'
                </when>
                 <when test="username != null and username.length() &lt;10">
                    and username = #{username}
                 </when>
                <otherwise>
                    and id = 1;
                </otherwise>
            </choose>
        </where>
    </select>

    <!--foreach用法，collection遍历对象，open：开始的sql拼接字符串 close：结束的sql拼接字符串 separator 值与值之间的分隔符-->
<!--    <select id="findUserByIds" resultType="com.jurenzhao.pojo.User" >-->
<!--        select * from user -->
<!--        <where>-->
<!--           id in-->
<!--            <foreach collection="array" open="(" close=")" item="id" separator=",">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--        </where>-->
<!--    </select>-->

    <select id="findUserByIds" resultType="com.jurenzhao.pojo.User" >
        select * from user
        <where>
            id in
            <foreach collection="list" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <insert id="insertBatch" parameterType="com.jurenzhao.pojo.User">
        INSERT INTO user  values
        <foreach collection="list" item="user" separator=",">
            (null,#{user.username}, #{user.sex}, #{user.address})
        </foreach>
    </insert>


</mapper>